head
	base(href=baseUrl)
	meta(content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0",   name="viewport")
	meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
	meta(name="title", content=head.metaTitle)
	meta(name="description", content=head.metaDescription)
	meta(name="keywords", content=head.metaKeywords)
	meta(property="og:image", content=head.metaOgImage)
	meta(property="og:site_name", content=head.metaOgSite_name)
	meta(property="og:url", content=head.metaOgUrl)
	meta(property="og:title", content=head.metaOgTitle)
	meta(property="og:type", content=head.metaOgType)
	meta(property="og:locale", content=head.metaOgLocale)
	meta(property="og:description", content=head.metaOgDescription)
	meta(property="fb:admins", content="1119763856")
	meta(property="fb:app_id", content="1654710454804015")
	title=head.title
	link(type="application/opensearchdescription+xml", rel="search", title="search", href="https://pazari-vivliou.gr/opensearch.xml")
	link(href='https://fonts.googleapis.com/css?family=Cardo&subset=greek-ext,latin', rel='stylesheet', type='text/css')
	link(href="source/styles.css",	rel="stylesheet",	type="text/css")
	script(src="https://apis.google.com/js/platform.js", async, defer)
	script(src="https://crypto-js.googlecode.com/svn/tags/3.0.2/build/rollups/md5.js")
	script(type="text/javascript", async, defer, src="//assets.pinterest.com/js/pinit.js")
	script!="var _userData=" + JSON.stringify(udata)
	script(src="source/app.js")
	link(rel="shortcut icon",	href="https://pazari-vivliou.gr/favicon.png")
	script (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-43112048-4', 'auto');ga('send', 'pageview');
	script(src='https://www.google.com/recaptcha/api.js?render=explicit&hl=el', async, defer)