if val.bnid
    a.product.ws.ani02(itemscope, title=val.title, data-bnid=val.bnid, itemtype="http://schema.org/Book", href="/item/"+val.bnid+"/"+encodeURIComponent(val.alias))
        meta(itemprop="image", content="https://pazari-vivliou.gr"+(val.img?val.img:"/noimg.jpg"))
        meta(itemprop="url", content="https://pazari-vivliou.gr/item/"+val.bnid+'/'+val.alias)
        .image
            span.x(title="Αφαίρεση από το wishlist") x
            img.ani02(alt=val.title, src=(val.img?val.img:"/noimg.jpg"))
        .title-wrapper
            .title(itemprop="name")=val.title
            .owner(itemprop="author")=val.author
        .price-wrapper
            if price(val)
                .add-to-cart(title="Προσθήκη στο καλάθι")
                .add-to-wl(title="Προσθήκη στο wishlist")
            .prices
                if !price(val) 
                    span.unavail Εξαντλήθηκε
                else
                    .old-price
                        span=(val.price||val.marketPrice)+" "
                        if val.price
                            span &euro;
                    .final-price
                        span=price(val) + " "
                        span &euro;